.container {
  padding: 0 0rem;
}

.main {
  min-height: 100vh;
  padding: 0rem 0rem 0rem 0;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar ul li{
  border-radius: 2rem;
  text-align: center;
  width: 10rem;
  margin: 0rem 1rem;
}
.navbar ul li:hover{
  transition: ease;
  transition-duration: 1s;
  border-radius: 2rem;
  background-color: #7a91d6;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background-color: #0070f3;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.home{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homevideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.hometext{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: rgb(0, 0, 0);
  overflow: hidden;
  position: absolute;
  text-align: center;
  padding: 5rem 0;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
}
.hometext p{
  
  overflow: hidden;
  margin: 2rem;
  text-align: center;
  font-size: 20px;
  font-family: 'Playfair Display', serif;

}
.hometext h1{
  font-size: 50px;
}
.about{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 500px)); */
  background-color: #fdfcfc;
}
.about_photo{
  width: 100%;
  height: 60vh;
  margin: 2rem;
  padding: 5rem;
  text-align: center;
  font-size: 20px;
  object-position: center;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Playfair Display', serif;
  background-image: url("https://images.pexels.com/photos/1047051/pexels-photo-1047051.jpeg?auto=compress&cs=tinysrgb&w=600");
}

.about_text{
  width: 100%;
  margin: 1rem;
  padding: 5rem;
  text-align: center;
  font-size: 20px;
  margin: auto;
  font-family: 'Playfair Display', serif;
  /* background-color: green; */
}
.about_text p{
  margin-top: 2rem;
}
.about h1{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  align-items: center;
  width: 100%;
}
.destination{
  display: inline;
  min-height: 100vh;
  padding: 2rem 0;
  overflow: hidden;
  justify-content: space-between;
  text-align: center;
}
.destination h1{
  font-family: 'Oleo Script Swash Caps', cursive;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.destinationwrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.dcard{
  margin:1rem;
  position: relative;
  text-align: center;
  border-radius: 10px;
  transition: .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
  }
  .dcard:hover{
    box-shadow: 10px 5px 5px rgb(165, 162, 162);
  }
  .dcard img{
    padding: .5rem;
    scale: .8;
  }
  .dcard h1{
    font-size: 30px;
  }
  .dcard p{
    padding: 20px;
  }
  .dbutton{
    width: 10rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: #0070f3;
  }
.services{
  display: inline;
  padding: 2rem 0;
  overflow: hidden;
  text-align: center;
}
.services h1{
  font-family: 'Oleo Script Swash Caps', cursive;
  padding: 3rem 0;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 40px;
}
.serviceswrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .scard{
  margin:1rem 1rem;
  position: relative;
  text-align: center;
  border-radius: 10px;
  transition: .5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
  }
  .scard:hover{
    box-shadow: 10px 5px 5px rgb(165, 162, 162);
  }
  .scard img{
    padding: .5rem;
    scale: .7;
  }
  .scard h1{
    font-size: 30px;
  }
  .scard p{
    padding: 2rem ;
  }
.cardwrapper{
  display: inline-block;
}
.gallery{
  background-color: red;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact{
  min-height: 55vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgb(253, 252, 252);
  /* background-color: red; */
}
.contact h1{
  text-align: center;
  padding: 1rem 0;
  font-size: 30px;
  font-family: 'Oleo Script Swash Caps', cursive;
}
.ContactForm{
  height: 50vh;
  padding: 2rem;
  margin: 1rem;
  /* From https://css.glass */
background: rgba(255, 255, 255, 0);
border-radius: 10px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
}
.formRow{
  margin: 1rem;
}
.submit{
  width: 10rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
  background-color: #0070f3;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
