.container {
  padding: 0 0rem;
}

.main {
  min-height: 100vh;
  padding: 0rem 0rem 5rem 0;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar ul li{
  border-radius: 2rem;
  text-align: center;
  width: 10rem;
  margin: 0rem 1rem;
}
.navbar ul li:hover{
  transition: ease;
  transition-duration: 1s;
  border-radius: 2rem;
  background-color: #7a91d6;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.home{
  min-height: 100vh;
  /* padding: 4rem 0; */
  /* flex: 1; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: #111;
}
.homevideo {
  opacity: .3;
  min-height: 100vh;
  /* padding: 4rem 0; */
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: cover; */
}
.hometext{
  font-family: 'Oleo Script Swash Caps', cursive;
  color: white;
  overflow: hidden;
  position: absolute;
  text-align: center;
}
.hometext p{
  padding: 5rem;
  overflow: hidden;
  margin: 2rem;
  text-align: center;
  font-size: 20px;
  font-family: 'Playfair Display', serif;

}
.hometext h1{
  font-size: 30px;
}
.about{
  /* background-color: blue; */
  min-height: 100vh;
  min-width: 90vw;
  /* padding: 4rem 0; */
  flex: 1;
  display:flex;
  flex-direction: row;
}
.about_photo{
  width: 50vw;
  margin: 1rem;
  margin-top: 7rem;
  padding: 5rem;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
  object-fit: fill;
  object-position: center;
  background-repeat: no-repeat;
  font-family: 'Playfair Display', serif;
  background-image: url("https://images.pexels.com/photos/2146355/pexels-photo-2146355.jpeg?auto=compress&cs=tinysrgb&w=600");
  /* background-color: green; */
}
.about_text{
  width: 50vw;
  margin: 1rem;
  padding: 5rem;
  text-align: center;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  /* background-color: green; */
}
.about_text p{
  margin-top: 2rem;
}
.about_text h1{
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 30px;
}
.destination{
  display: inline;
  min-height: 100vh;
  padding: 2rem 0;
  overflow: hidden;
  justify-content: space-between;
  text-align: center;
}
.destination h1{
  font-family: 'Oleo Script Swash Caps', cursive;
  padding: 3rem 0;
  padding-bottom: 0rem;
  text-align: center;
  font-size: 30px;
}
.destinationwrapper{
  display: inline-block;
}
.dcard{
  /* height: 60vh; */
  width: 60vh;
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 10px 5px 5px rgb(165, 162, 162);
  }
  .dcard img{
    padding: .5rem;
  }
  .dcard h1{
    font-size: 30px;
  }
  .dcard p{
    padding: 2rem ;
  }
  .dbutton{
    width: 10rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 2rem;
    background-color: #0070f3;
  }
.services{
  background-color: rgb(196, 193, 193);
  min-height: 50vh;
  min-width: 100vw;
  padding: 1rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services h1{
  font-family: 'Oleo Script Swash Caps', cursive;
  padding: 3rem 0;
  padding-bottom: 2rem;
  text-align: center;
  font-size: 30px;
}
.serviceswrapper{
  display: inline-block;
}
.scard{
  /* height: 60vh; */
  width: 60vh;
  margin-left: 2rem;
  margin-bottom: 2rem;
  position: relative;
  text-align: center;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 10px 5px 5px rgb(165, 162, 162);
  }
  .scard img{
    padding: .5rem;
  }
  .scard h1{
    padding: 1rem;
    font-size: 30px;
  }
  .scard p{
    padding: 2rem ;
  }
.cardwrapper{
  display: inline-block;
}
.gallery{
  background-color: red;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact{
  background-color: blue;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
